[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://gitcode.com/GitHub_Trending/sp/spdlog.git
[submodule "3rdparty/openssl/openssl"]
	path = 3rdparty/openssl/openssl
	url = https://gitcode.com/openeuler/openssl.git