#!/usr/bin/make -f

export DH_VERBOSE=1
export CI_BUILD=ON
export DEB_BUILD_MAINT_OPTIONS=optimize=-lto

%:
	dh $@

override_dh_auto_clean:
	@echo ">>> Cleaning build..."
	rm -rf build

override_dh_auto_configure:
	@echo ">>> Skip configure"

override_dh_auto_build:
	@echo ">>> Building project..."
	DEB_MULTIARCH=$$(dpkg-architecture -qDEB_HOST_MULTIARCH); \
	bash build.sh -t relwithdebinfo -f "-DARCH_LIB_DIR=/usr/lib/$$DEB_MULTIARCH -DSYS_LIB_DIR=/usr/lib"

override_dh_auto_test:
	@echo ">>> Skip test"

override_dh_auto_install:
	@echo ">>> Installing to debian tmp directories..."

	install -Dm550 build/relwithdebinfo/output/bin/ubsmd \
		debian/tmp/usr/bin/ubsmd
	DEB_MULTIARCH=$$(dpkg-architecture -qDEB_HOST_MULTIARCH); \
	install -Dm644 build/relwithdebinfo/output/lib/libubsm_sdk.so \
		debian/tmp/usr/lib/$$DEB_MULTIARCH/libubsm_sdk.so
	install -Dm440 build/relwithdebinfo/output/lib/libubsmd.so \
		debian/tmp/usr/lib/ubs_mem/libubsmd.so
	install -Dm640 build/relwithdebinfo/output/config/ubsmd.conf \
		debian/tmp/etc/ubs_mem/ubsmd.conf
	install -Dm644 build/relwithdebinfo/output/include/ubs_mem.h \
		debian/tmp/usr/include/ubs_mem/ubs_mem.h
	install -Dm644 build/relwithdebinfo/output/include/ubs_mem_def.h \
		debian/tmp/usr/include/ubs_mem/ubs_mem_def.h
	install -Dm644 debian/ubsmd.service \
		debian/tmp/usr/lib/systemd/system/ubsmd.service

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_usrlocal:
	@echo ">>> Skip dh_usrlocal"

override_dh_fixperms:
	@echo ">>> Skip dh_fixperms (perms set by install)"

