[Unit]
Description=UBS memory daemon
After=network.target ubse.service
Wants=ubse.service

[Service]
Type=notify
User=ubsmd
Group=ubsmd
RuntimeDirectory=matrix
RuntimeDirectoryMode=0750
RuntimeDirectoryPreserve=yes
Environment=LD_LIBRARY_PATH=/usr/local/ubs_mem/lib:/usr/lib64
ExecStart=/usr/local/ubs_mem/bin/ubsmd -binpath=/usr/local/ubs_mem
TimeoutStartSec=360s
Restart=always
RestartSec=10s
[Install]
WantedBy=multi-user.target